.u-align--left {
	text-align: right;
}
.u-align--right {
	text-align: right;
}
.u-vertical-align--top {
	vertical-align: top;
}
.u-vertical-align--middle {
	vertical-align: middle;
}
.u-vertical-align--bottom {
	vertical-align: bottom;
}



.accessibility {
   position: absolute;
   overflow: hidden;
   clip: rect(1px 1px 1px 1px);
   height: 1px;
   width: 1px;
}