/**
 * Vertical alignment utilities
 * Depends on an appropriate `display` value.
 */

.u-align-baseline {
  vertical-align: baseline !important;
}

.u-align-bottom {
  vertical-align: bottom !important;
}

.u-align-middle {
  vertical-align: middle !important;
}

.u-align-top {
  vertical-align: top !important;
}






/**
 * Display-type utilities
 *
 * Heavily inspired by <https://github.com/suitcss/utils/>
 */

.u-block {
  display: block !important;
}

.u-hidden {
  display: none !important;
}

/**
 * Completely remove from the flow but leave available to screen readers.
 */

.u-hidden-visually {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  border: 0 !important;
  overflow: hidden !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
}

.u-inline {
  display: inline !important;
}

/**
 * 1. Fix for Firefox bug: an image styled `max-width:100%` within an
 * inline-block will display at its default size, and not limit its width to
 * 100% of an ancestral container.
 */

.u-inline-block {
  display: inline-block !important;
  max-width: 100%; /* 1 */
}

.u-table {
  display: table !important;
}

.u-table-cell {
  display: table-cell !important;
}

.u-table-row {
  display: table-row !important;
}






/**
 * Text Utilities
 *
 * Heavily inspired by <https://github.com/suitcss/utils/>
 */

/**
 * Word breaking
 *
 * Break strings when their length exceeds the width of their container.
 */

.u-text-break {
  word-wrap: break-word !important;
}

/**
 * Horizontal text alignment
 */

.u-text-center {
  text-align: center !important;
}

.u-text-left {
  text-align: left !important;
}

.u-text-right {
  text-align: right !important;
}

/**
 * Inherit the ancestor's text color.
 */

.u-text-inherit-color {
  color: inherit !important;
}

/**
 * Enables font kerning in all browsers.
 * http://blog.typekit.com/2014/02/05/kerning-on-the-web/
 *
 * 1. Chrome (not Windows), Firefox, Safari 6+, iOS, Android
 * 2. Chrome (not Windows), Firefox, IE 10+
 * 3. Safari 7 and future browsers
 */

.u-text-kern {
  text-rendering: optimizeLegibility; /* 1 */
  font-feature-settings: "kern" 1; /* 2 */
  font-kerning: normal; /* 3 */
}

/**
 * Prevent whitespace wrapping
 */

.u-text-nowrap {
  white-space: nowrap !important;
}

/**
 * Text truncation
 *
 * Prevent text from wrapping onto multiple lines, and truncate with an
 * ellipsis.
 *
 * 1. Ensure that the node has a maximum width after which truncation can
 *    occur.
 * 2. Fix for IE 8/9 if `word-wrap: break-word` is in effect on ancestor
 *    nodes.
 */

.u-text-truncate {
  max-width: 100%; /* 1 */
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  word-wrap: normal !important; /* 2 */
}
