/**
 * Some extra placeholders to allow our laziness ;-)
 * Extends inuitcss vertical rhythm placeholder `%margin-bottom`
 *
 * Example:
 *
 * .foo {
 * 		@extend %margin-bottom-quarter;
 * 	}
 */
%margin-bottom-quarter {
    margin-bottom: quarter($inuit-base-spacing-unit);
    margin-bottom: (quarter($inuit-base-spacing-unit) / $inuit-base-font-size) * 1rem;
}

%margin-bottom-half {
    margin-bottom: halve($inuit-base-spacing-unit);
    margin-bottom: (halve($inuit-base-spacing-unit) / $inuit-base-font-size) * 1rem;
}

%margin-bottom-double {
    margin-bottom: double($inuit-base-spacing-unit);
    margin-bottom: (double($inuit-base-spacing-unit) / $inuit-base-font-size) * 1rem;
}

%margin-bottom-quadruple {
    margin-bottom: quadruple($inuit-base-spacing-unit);
    margin-bottom: (quadruple($inuit-base-spacing-unit) / $inuit-base-font-size) * 1rem;
}