/**
 * Project configuration
 *
 * Section: example
 *
 * COLORS       - Project agnostic colors and project aware colors
 * INTERFACE    - Element variables
 * CORE         - Define/override core values to fit project requirements
 * ABSTRACTIONS - Defaults values for abstractions
 */



/**
 * $COLORS
 *
 * 1. Project agnostic colors
 * 2. Project aware colors
 */

/**
 * 1. Project agnostic colors
 */
$white:  #fff;
$black:  #000;
$gray:   #ccc;
$orange: #f60;


/**
 * 2. Project aware colors
 */

$base-link-color:       $orange;
$base-link-hover-color: lighten($orange, 10%);

$base-border-color: $gray;

// $btn-color:             $orange;
// $btn-bg-color:          $white;
// $btn-color-hover:       lighten($orange, 10%);






/**
 * $INTERFACE
 *
 * Define element default values
 */







/**
 * $CORE
 *
 * Override default variable values. This is the place where the project
 * core settings are defined.
 *
 * Whenever a value is adjusted, remove the `!default` flag. Otherwise
 * leave it as is.
 */

// See `_core.variables.scss`

$base-font-size:        16px !default;
$base-line-height:      24px !default;
$base-text-color:       $black;
$base-background-color: $white;




// Redefine those core variables related to possible overrides within
// the above section.

$base-spacing-unit:        $base-line-height;
$base-spacing-unit--tiny:  round($base-spacing-unit / 4);
$base-spacing-unit--small: round($base-spacing-unit / 2);
$base-spacing-unit--large: round($base-spacing-unit * 2);
$base-spacing-unit--huge:  round($base-spacing-unit * 4);




// See `_core.defaults.scss`

$heading-size-1: 36px !default;
$heading-size-2: 30px !default;
$heading-size-3: 24px !default;
$heading-size-4: 20px !default;
$heading-size-5: 16px !default;
$heading-size-6: 14px !default;




// See `_core.variables.scss`

$breakpoints: (
  'palm'          'screen and (max-width: 44.9375em)',
  'lap'           'screen and (min-width: 45em) and (max-width: 63.9375em)',
  'lap-and-down'  'screen and (max-width: 63.9375em)',
  'lap-and-up'    'screen and (min-width: 45em)',
  'desk'          'screen and (min-width: 64em)',
  'desk-wide'     'screen and (min-width: 75em)'
) !default;




// See `_core.mixins.scss`, @mixin widths
$use-fractions: true;




// See `_utils.sizes.scss`
$widths-columns: (
  1,
  2,
  3,
  4,
  5
);





/**
 * $ABSTRACTIONS
 *
 * Override default variable values.
 *
 * Whenever a value is adjusted, remove the `!default` flag. Otherwise
 * leave it as is to pass by the defaults.
 */

// Grid
$grid-font-size:          $base-font-size !default;
$grid-gutter-size:        $base-spacing-unit !default;



// Button
$button-font:             inherit !default;
$button-border-width:     1px !default;
$button-border-style:     solid !default;
$button-border-radius:    0 !default;
$button-border-color:     $orange;
$button-color:            $orange;
$button-bg-color:         $white;
$button-disabled-opacity: 0.5 !default;
$button-padding:          $base-spacing-unit !default;



// Button group
$button-group-font-size:     $base-font-size !default;
$button-group-border-radius: 0 !default;



// List
$list-padding:   $base-spacing-unit !default;
$list-font-size: $base-font-size !default;



// Table
$table-padding:      $base-spacing-unit !default;
$table-border-width: 1px !default;
$table-border-width: $base-font-size !default;
$table-border-style: solid !default;
$table-border-color: $base-border-color !default;
