/**
 *  Math helpers
 *
 * 	Halve and double numbers, returning rounded integers in pixels. E.g.:
 *
 	Example:
 	.foo {
     padding: halve(30px);
 	}

 	Output:
 	.foo {
    	padding: 15px;
 	}
*/
@function quarter($math-number) {
	@return round($math-number / 4);
}

@function halve($math-number) {
    @return round($math-number / 2);
}

@function double($math-number) {
    @return round($math-number * 2);
}

@function quadruple($math-number) {
    @return round($math-number * 4);
}