/**
 * The compiled sass output of this file becomes
 * the main CSS stylesheet to adress in your HTML
 */

// Project configuration
@import 'configuration';

// Global bootstrap core modules
@import 'bootstrap';

// Include vendor styles
@import 'vendor/owl.carousel';
@import 'vendor/tablesaw.bare';

// project section styles
@import 'project/layout';

// project media queries
@import 'mq';
