/**
 * ==========================================================
 * Element defaults / Tags
 * ==========================================================
 */


strong, b {
  font-weight: 700;
}


a {
  transition: all 0.15s;
  text-decoration: underline;
  color: $base-link-color;

  &:hover, &:active, &:focus {
    color: $base-link-hover-color;
    text-decoration: none;
  }
}


// Neutralize all linked images
a > img {
  border-bottom: 0;
  display: block;
  line-height: 0;
}


/**
 * Disable if we get respimages on track, but leave it when
 * we are only lazyloading (lazysizes.js)
 */
img {
  height: auto;
  max-width: 100%;
}


/**
 * Enable automativ calculation of `srcset` and `sizes`,
 * e.g. we are using respimages
 */

// scss-lint:disable QualifyingElement
img[data-sizes="auto"] {
  display: block;
  max-width: none;
  width: 100%;
  height: auto;
}
// scss-lint:enable QualifyingElement





/**
 * ==========================================================
 * Element defaults / Headings
 * ==========================================================
 */

/**
 * list of headings
 * @string {String}
 */
$headings: 'h1, h2, h3, h4, h5, h6';

@each $item in $headings {
  #{$item} {
    font-style: normal;
    font-weight: 700;
    hyphens: auto;
   }
}





/**
 * ==========================================================
 * Core Elements/Components /  Redeclare attributes
 * ==========================================================
 */

// ...






/**
 * ==========================================================
 * Structure /  Page
 * ==========================================================
 */

.page {
  margin: 0 auto;
  max-width: 64em;
  padding: $base-spacing-unit;
}




/**
 * ==========================================================
 * Components
 * ==========================================================
 */


 /*
   =====================================================
   Component / Forms
   =====================================================
 */

 .c-form {
   @extend %margin-bottom;
 }

 // scss-lint:disable QualifyingElement
 input[type="text"],
 input[type="email"],
 textarea {
   width: 100%;
   font-size: inherit;
   border: 1px solid $form-input-border-color;
   color: inherit;
   background-color: inherit;
   padding: $base-spacing-unit--tiny;
   transition: all 0.25s;
   border-radius: 0;
   -webkit-appearance: none;

   &:placeholder {
     color: $form-input-placeholder-color;
     font-size: $base-font-size - 1;
   }

   &:focus, &:active {
     border-color: $form-input-border-color-focus;
     outline: 0;
   }
 }
 // scss-lint:enable QualifyingElement

 .c-form__field {
   margin-bottom: $base-spacing-unit;
 }

 .c-form__note {
   font-size: $base-font-size - 1;
 }

 .button--submit {
   font-weight: 700;
 }


 /**
  * jquery-validation lib related
  */

 // Styling the default error class
 .error {
   //...
 }

 // Spam protection, honeypot
 .c-form__field__highlight + .c-form__field {
   display: none;
 }









/**
 * ==========================================================
 * Classes
 * ==========================================================
 */

/**
 * SVG icon sprite
 */
.icon {
  width: ($base-font-size / 16px) * 1em;
  height: ($base-font-size / 16px) * 1em;
  vertical-align: middle;
  display: inline-block;

  transition: all 0.25s;
  fill: $icon-fill-color;

  a:hover & {
    fill: lighten($icon-fill-color, 40%);
  }
}

// Modifier
.icon--large {
  width: (($base-font-size * 2) / 16px) * 1em;
  height: (($base-font-size * 2) / 16px) * 1em;
}

// Modifier
.icon--huge {
  width: (($base-font-size * 4) / 16px) * 1em;
  height: (($base-font-size * 4) / 16px) * 1em;
}




/**
 * Enable transitions for layzy loaded images
 *
 */
.lazyload,
.lazyloading {
  opacity: 0 !important;
}

.lazyloaded {
  opacity: 1;
  transition: opacity 0.25s ease-in !important;
}




/**
 * Overwrite fluidbox vendor declaration,
 * s. `vendor/_fluidbox.scss`, line 55
 */
.fluidbox-ghost {
  //transition-duration: $transition-duration, $transition-duration;
}


/**
 * Container for loading animation, s. next below `progress`.
 * Appended dynamically to fluidbox loading event (s. `base.js`)
 */
.is-loading-fluidbox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}



/**
 * Loading spinner, CSS animation
 *
 * Markup dynamically set in base.js:
 *   `<div class="progress [progress--large][progress--small]"></div>`
 */
@keyframes progress {
  to {transform: rotate(360deg);}
}

.progress {
  position: relative;
  min-width: 50px;
  min-height: 50px;
}

.progress::before {
  content: 'Loading...';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-top: -13px; /* width/2 + 1 */
  margin-left: -13px; /* width/2 + 1 */
}

.progress:not(:required)::before {
  content: '';
  border-radius: 50%;
  border-style: solid;
  border-color: $progress-border-color;
  border-top-color: $progress-border-top-color;
  animation: progress 0.6s linear infinite;
}

// Modifier
.progress--large {
  &::before {
    width: 48px;
    height: 48px;
    margin-top: -25px; /* width/2 + 1 */
    margin-left: -25px; /* width/2 + 1 */
  }

  &:not(:required)::before {
    border-width: 6px;
  }
}

// Modifier
.progress--small {
  &::before {
    width: 16px;
    height: 16px;
    margin-top: -9px; /* width/2 + 1 */
    margin-left: -9px; /* width/2 + 1 */
  }

  &:not(:required)::before {
    border-width: 2px;
  }
}





/**
 * Image Gallery (fluidbox)
 */

.gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.gallery a {
  margin-bottom: 1%;
}

.col-4 {
  width: 49%;
  // fallback for .no-flexbox browser
  display: inline-block;

  @include media-query (lap) {
    width: 32%;
  }

  @include media-query (desk) {
    width: 24%;
  }
}







/*header*/.page-header {

}

/*header*/.page-header--banner {

}

/*main*/.page-content {

}


/*aside*/.sidebar {

}


/*footer*/.page-footer {

}

/*footer*/.page-footer--contentinfo {

}


/*hx*/.section-heading {

}


/*div*/.section-body {

}



// .logo {
//   width: 200px;
//   height: 47px;
//   background: transparent url('../img/logo.svg') 0 0 no-repeat;
//   background-size: contain;
//   text-indent: -9999px;
//   line-height: 1;
//   margin-bottom: 0;
// }





/**
 * Framework related styles
 */

// scss-lint:disable SelectorDepth
// scss-lint:disable ColorKeyword
// scss-lint:disable ColorVariable

.framework .grid,
.framework .flexgrid {
  margin-bottom: 3em;
}

.framework .grid__cell > div,
.framework .flexgrid__cell > div {
  background-color: $framework-accent-color;
  //margin-bottom: 1em;
}

.framework .grid__cell .grid__cell > div,
.framework .flexgrid__cell .flexgrid__cell > div {
  background-color: green;
  //margin-bottom: 1em;
}

.framework .grid__cell,
.framework .flexgrid__cell {
  //margin-bottom: 2em;
}

// scss-lint:enable SelectorDepth
// scss-lint:enable ColorKeyword
// scss-lint:enable ColorVariable



/**
 * Override some defaults for the CKEditor
 */

// scss-lint:disable SelectorFormat
// scss-lint:disable ColorKeyword
// scss-lint:disable ColorVariable

/*body*/.cke_editable {
  margin: $base-spacing-unit--tiny;
  background-color: white;

  ul {
    margin-left: 15px;
  }
}

// scss-lint:enable SelectorFormat
// scss-lint:enable ColorKeyword
// scss-lint:enable ColorVariable
