/**
 * layout.scss
 */

html { }


body { }


.page {
  margin: 0 auto;
  max-width: 64em;
  padding: $base-spacing-unit;
}



.icon {
  width: ($base-font-size / 16px) * 1em;
  height: ($base-font-size / 16px) * 1em;
  vertical-align: middle;
  display: inline-block;

  transition: all 0.5s;
  fill: $black;

  a:hover & {
    fill: $orange;
  }
}




a {
  //background-color: #f2f2f2;

  transition: all 0.5s;
  text-decoration: none;

  &:hover {
    color: $orange;
  }
}








// For automatic calculation of srcset and sizes
// img[data-sizes="auto"] {
//   display: block;
//   max-width: none;
//   width: 100%;
//   height: auto;
// }


.lazyload,
.lazyloading {
  opacity: 0 !important;
}

.lazyloaded {
  opacity: 1;
  transition: opacity 0.2s ease-in !important;
}







// just testing, remove if ready
.grid__cell > div {
  background-color: $orange;
  margin-bottom: 1em;
}

.grid__cell {

  margin-bottom: 1em;
}



/**
 * list of headings
 * @string {String}
 */
// $headings: "h1, h2, h3, h4, h5, h6";

// @each $item in $headings {
//  #{$item} {
//    font-style: normal;
//    font-weight: inherit;
//  }
// }



/**
 * Processwire related
 */
// ul, ol {
//   margin-left: 0;
//   padding-left: 0;
//   list-style: none;
// }

// Styles in CKEditor => mystyles.js
// scss-lint:disable SelectorFormat
.align_right {
  float: left;
  margin-right: $base-spacing-unit;
  margin-bottom: $base-spacing-unit;

  @include media-query(desk) {
    float: right;
    margin-left: $base-spacing-unit--large;
    margin-bottom: $base-spacing-unit;
  }
}
// scss-lint:enable SelectorFormat



/*header*/.page-header {

}

/*header*/.page-header--banner {

}


/*footer*/.page-footer {

}

/*footer*/.page-footer--contentinfo {

}


// .nav {

//   li {
//     margin-right: $base-spacing-unit;

//     &:last-of-type {
//       margin-right: 0;
//     }
//   }

//   a, .current {
//     color: $base-link-color;
//     text-decoration: none;
//     transition: all 0.1s;

//     &:hover, &:active, &:focus {
//       color: $base-link-hover-color;
//     }
//   }
// }




/*main*/.page-content {

}



/*aside*/.sidebar {

}



/*hx*/.section-heading {

}



/*div*/.section-body {

}



.logo {
  // width: 200px;
  // height: 47px;
  // background: transparent url('../img/logo.svg') 0 0 no-repeat;
  // background-size: contain;
  // text-indent: -9999px;
  // line-height: 1;
  // margin-bottom: 0;
}




.btn {
  transition: all 0.1s;

  &:hover, &:active, &:focus {
    color: $btn-color-hover;
  }
}
